body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  box-shadow: 0 0 15px #9ecaed;;
  border-radius: 100%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: rgb(151, 41, 41);
}

.green {
  background-color: rgb(24, 152, 77);
}

.blue {
  background-color: rgb(57, 66, 144);
}

.yellow {
  background-color: rgb(227, 206, 21);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
