body {
  text-align: center;
  background-image: linear-gradient(to left top, #d956e8, #bd47db, #a139cf, #842bc2, #661eb5, #621ab7, #5e16ba, #5a11bc, #7412cd, #8e12de, #a80fef, #c309ff);
   z-index : 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 30px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  box-shadow: 0 0 10px #9ecaed;;
  border-radius: 90%;
}

.game-over {
  background-image: linear-gradient(to top, #f66d00, #e55b03, #d34a04, #c03805, #ae2505, #a11c07, #931208, #860708, #7a0a0b, #6e0c0d, #630e0e, #570f0f);
  opacity: 0.8;
  z-index : 1;
}

.red {
  background-color: rgb(187, 58, 26);
}

.green {
  background-color: rgb(37, 117, 48);
}

.blue {
  background-color:rgb(79, 122, 202);
}

.yellow {
  background-color: rgb(255, 227, 15);}

.pressed {
  box-shadow: 1px 1px 50px rgb(255, 255, 255);
  background-color: rgb(109, 108, 108);
}
